/*===== START reset =====*/

ol, ul {
    list-style: none outside none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

/* gets rid of chrome's blue outlines */
textarea, input, button { outline: none; }

/*===== END reset =====*/

/*===== START fonts =====*/

@font-face{
	font-family:Adam;
	src:url('../fonts/Adam.otf');
}

@font-face{
	font-family:Dolce Vita;
	src:url('../fonts/Dolce Vita.ttf')
}

@font-face{
	font-family:telegrafico;
	src:url('../fonts/telegrafico.ttf')
}

@font-face{
	font-family:Calibri;
	src:url('../fonts/Calibri.ttf')
}

/*===== END fonts =====*/

body{
    display: flex;
    flex-direction: column;
    padding:0em 2em;
}

/*===== START main header =====*/

.header{
    padding:2em 2.5em;
    font-family:telegrafico;
}

.header h1{
    font-size:3em;
}

.header h1 a{
    text-decoration:none;
    color:#3399cc;
    opacity:0.85;
    transition:all 0.15s ease;
}

.header h1 a:hover{
    opacity:1;
    cursor:pointer;
}

/* bottom gradient border */
.header h1::after{
    content:'';
    width:100%;
    height: 1px;
    position:absolute;
    left:0;
    top:70;
    background: #333;

    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, 0.75)), color-stop(100%, hsla(0, 0%, 0%, 0)));

    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
}

.header p{
    font-family:Adam;
    padding-top:1.5em;
    font-weight:bold;
    font-size:1.15em;
}

.header p span{
    color:#3399cc;
}

/*===== END main header =====*/

/*===== START translate-tool section =====*/

.translate-tool{
    display: flex;
}

.translate-tool__component {
    border: 1px solid #333;
    flex: 1 1 0;
    margin: 0 1em;
    padding: 1.5em;
    font-family:telegrafico;
    font-weight:bold;
    min-width:550;
}

.translate-tool__component textarea::selection{
    /* highlighting of copy and pasted code is yellow */
    background:yellow;
}

.tool-input {
    width: 100%;
}

.tool-output {
    width: 100%;
}

.output-box{
    padding:1em;
    font-family:Calibri;
}

.output-header {
    border-bottom: 1px solid #333;
    padding-bottom:1em;
}

.output-header input{
    width:70%;
    border:2px solid #3399cc;
    border-radius:10px;
    padding:0.5em 0.7em;
    font-weight:bold;
    font-size:0.9em;
    color:#9bc4d9;
    font-family:Calibri;
}

.output-header button{
    width:20%;
    padding:6;
    margin-left:30;
    background-color:#9bc4d9;
    border:3px solid #3399cc;
    border-radius:4px;
    font-family:Calibri;
    font-size:1.1em;
    color:white;
    font-weight:bold;
    opacity:0.8;
    transition: all 0.15s ease;
}

.output-header button:hover{
    opacity:1;
}

.output-header button:active{
    border-style:ridge;
}

/*===== END translate-tool section =====*/

/*===== START footer =====*/

footer{
    box-sizing:border-box;
    width:100%;
    border-top:1px solid gray;
    margin-top:4em;
    padding:2em;
    font-family:telegrafico;
    text-align: center;
}

footer div{
    cursor:pointer;
}

footer a{
    text-decoration:none;
    color:#3399cc;
    transition:all 0.1s ease;
}

footer a:hover{
    color:gray;
}

/*===== END footer =====*/
